.body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.logo-header {
}
.logo-web {
  color: #2196f3;
}
.logo-studio {
}
